{# This is deliberately copy/pasted from the default slim 404 page #}
<html>
    <head>
        <title>Page Not Found</title>
        <style>
            body{
                margin:0;
                padding:30px;
                font:12px/1.5 Helvetica,Arial,Verdana,sans-serif;
            }
            h1{
                margin:0;
                font-size:48px;
                font-weight:normal;
                line-height:48px;
            }
            strong{
                display:inline-block;
                width:65px;
            }
        </style>
    </head>
    <body>
        <h1>Forbidden</h1>
        <p>
            You are not allowed to access this page. 
        </p>
        <a href='http://test.robparrett.com/'>Visit the Home Page</a>
    </body>
</html>
