{% extends "template.html" %}
{% block content %}
<h1>Hello</h1>
<p>I'm a professional PHP developer.</p>
<p>
    In my spare time, I like to dabble with:
    <ul>
        <li>golang</li>
        <li>rust</li>
        <li>ruby</li>
        <li>climbing rocks</li>
        <li>electronics</li>
        <li>3d printing</li>
    </ul>
</p>
<h3>This Site</h3>
<p>I like to occasionally rewrite this site to explore new frameworks and technologies.</p>
<p>This iteration was built using <a href="https://www.slimframework.com/">Slim</a>, <a href="https://picturepan2.github.io/spectre/">Spectre.css</a>, and <a href="https://www.sqlite.org/">SQLite</a>.
<p>It's hosted on a virtual server from <a href="https://www.linode.com">Linode</a> running Ubuntu 14 LTS, Nginx, and PHP 5.5.9 (fpm).</p>
<p>The source code can be found on <a href="https://www.github.com/rparrett/robparrett-dot-com">GitHub</a></p>
{% endblock %}
